
<h1>Copyright Policies</h1>

<a href='/copyright#secAndPrivPolicy'>Security and Privacy Policy</a><br>
<a href='/copyright#DMCAPolicy'>DMCA Notice & Takedown Policy</a><br>
<a href='/copyright#AUPPolicy'>Acceptable Use Policy</a><br>

<h2 id='secAndPrivPolicy'>Security and Privacy Policy</h2>

<p>{{ secAndPrivPolicy }}</p>

<div *ngIf='userIsAdmin'>
  <h2>Create/Update Security and Privacy Policy</h2>

  <form class='c-forms' (click)='onCUSecAndPrivPolicy(cuSecAndPrivText.value)'>
    <mat-form-field class='wide-text'>
      <textarea #cuSecAndPrivText matInput placeholder="Policy">{{ secAndPrivPolicy }}</textarea>
    </mat-form-field>
    <button mat-raised-button type='submit'>Create/Update</button>
  </form>

  <br>
  <br>
</div>

<h2 id='DMCAPolicy'>DMCA Notice & Takedown Policy</h2>

<p>{{ DMCAPolicy }}</p>

<div *ngIf='userIsAdmin'>
  <h2>Create/Update DMCA Notice & Takedown Policy</h2>

  <form class='c-forms' (click)='onCUDMCAPolicy(cuDMCAPolicyText.value)'>
    <mat-form-field class='wide-text'>
      <textarea #cuDMCAPolicyText matInput placeholder="Policy">{{ DMCAPolicy }}</textarea>
    </mat-form-field>
    <button mat-raised-button type='submit'>Create/Update</button>
  </form>

  <br>
  <br>
</div>

<h2 id='AUPPolicy'>Acceptable Use Policy</h2>

<p>{{ AUPPolicy }}</p>

<div *ngIf='userIsAdmin'>
  <h2>Create/Update Acceptable Use Policy</h2>

  <form class='c-forms' (click)='onCUAUPPolicy(cuAUPPolicyText.value)'>
    <mat-form-field class='wide-text'>
      <textarea #cuAUPPolicyText matInput placeholder="Policy">{{ AUPPolicy }}</textarea>
    </mat-form-field>
    <button mat-raised-button type='submit'>Create/Update</button>
  </form>
</div>

<br>
<br>
<br>
<br>
