<h2>Grant a User Admin Access</h2>
<p class="">User's Username: </p>
<input #adUsername/>
<button id='grantAccessBtn' (click)='onGrantAccess(adUsername.value)'>Grant</button>


<h2>Deactivate a User's Account</h2>
<p class="">User's Username: </p>
<input #adDeactUsername/>
<button id='deactBtn' (click)='onDeactivate(adDeactUsername.value)'>Deactivate</button>


<h2>Reactivate a User's Account</h2>
<p class="">User's Username: </p>
<input #adReactUsername/>
<button id='reactBtn' (click)='onReactivate(adReactUsername.value)'>Reactivate</button>

<h2>Hide a Review</h2>
<p class="">Reviewer's Username: </p>
<input #reviewsUsername/>
<p class="">Subject Code: </p>
<input #reviewSC/>
<p class="">Course Code: </p>
<input #reviewCC/>
<button id='revHideBtn' (click)='onHideReview(reviewsUsername.value, reviewSC.value, reviewCC.value)'>Hide</button>

<h2>Show a Review</h2>
<p class="">Reviewer's Username: </p>
<input #showReviewsUsername/>
<p class="">Subject Code: </p>
<input #showReviewSC/>
<p class="">Course Code: </p>
<input #showReviewCC/>
<button id='revHideBtn' (click)='onShowReview(showReviewsUsername.value, showReviewSC.value, showReviewCC.value)'>Hide</button>
