<h2>Grant a User Admin Access</h2>
<p class="">User's Username: </p>
<input #adUsername/>
<button id='grantAccessBtn' (click)='onGrantAccess(adUsername.value)'>Grant</button>


<h2>Deactivate a User's Account</h2>
<p class="">User's Username: </p>
<input #adDeactUsername/>
<button id='deactBtn' (click)='onDeactivate(adDeactUsername.value)'>Deactivate</button>


<h2>Reactivate a User's Account</h2>
<p class="">User's Username: </p>
<input #adReactUsername/>
<button id='reactBtn' (click)='onReactivate(adReactUsername.value)'>Reactivate</button>
