<mat-toolbar class='header'>
  <ul>
    <span><a class='title' routerLink='/courselists'>Western University Timetable</a></span>
    <span class='spacer'></span>
    <span><a mat-button routerLink='/coursesearch' routerLinkActive='mat-accent'>Course Search</a></span>
    <span><a mat-button routerLink='/keywordsearch' routerLinkActive='mat-accent'>Keyword Search</a></span>
    <span><a mat-button routerLink="/courselists" routerLinkActive='mat-accent'>Course Lists</a></span>
    <span><a mat-button routerLink='/coursereviews' routerLinkActive='mat-accent'>Course Reviews</a></span>
    <!-- <span><a mat-button routerLink='/timetable' routerLinkActive='mat-accent'>Timetable</a></span> -->
    <span *ngIf='!userIsAuthenticated'><a mat-button routerLink='/login' routerLinkActive='mat-accent'>Login</a></span>
    <span *ngIf='!userIsAuthenticated'><a mat-button routerLink='/signup' routerLinkActive='mat-accent'>Sign Up</a></span>
    <span *ngIf='userIsAdmin'><a mat-button routerLink='/admin' routerLinkActive='mat-accent'>Admin</a></span>
    <span *ngIf='userIsAuthenticated'><a mat-button routerLink='/account' routerLinkActive='mat-accent'>Account</a></span>
    <span><a mat-button routerLink='/copyright' routerLinkActive='mat-accent'>Copyright</a></span>
    <span *ngIf='userIsAuthenticated'><button mat-button (click)='onLogout()' >Logout</button></span>
  </ul>
</mat-toolbar>

<br>
<br>
