p {
  margin-left: 3%;
  display: inline-block;
}

h3 {
  margin-top: 3rem;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:focus {
  background-image: linear-gradient(pink, rgb(255, 50, 50));
}

.glance-info {
  font-size: 85%;
  display: block;
}

.extra-info {
  font-size: 85%;
  display: block;
}

button {
  background-color: rgb(79, 38, 131);
  color: white;
  margin-left: 2rem;
  padding: 0rem 0.5rem;
  font-size: 95%;
}

.mat-expansion-panel-header {
  height: 90px;
}

#noQueriesMsg {
  display: block;
  font-weight: 600;
  padding-left: 4rem;
  padding-top: 2rem;
}

#tooShortMsg {
  display: block;
  font-weight: 600;
  padding-left: 4rem;
  padding-top: 2rem;
}
