
<br>

<h2>View Course Reviews</h2>

<p class="">Subject Code: </p>
<input #viewSubjCode/>

<p class="">Course Code: </p>
<input #viewCourseCode/>

<br>

<button (click)='onGetReviews(viewSubjCode.value, viewCourseCode.value)'>
  View Review</button>

<mat-accordion *ngIf='courseReviews'>
  <mat-expansion-panel *ngFor="let rev of courseReviews; let i=index">
      <mat-expansion-panel-header *ngIf='i<10'>
        <p class="glance-info">Course: {{ rev?.subjCode }}-{{ rev?.courseCode }}</p>
        <p class="glance-info">Reviewer: {{ rev?.username }}</p>
        <p class="glance-info">Rating: {{ rev?.rating }}</p>
        <p class="glance-info">Created Date: {{ rev?.month }}/{{ rev?.day }}/{{ rev?.year }}</p>
      </mat-expansion-panel-header>
    <p class="extra-info" *ngIf='i<10'>Review: {{ rev?.reviewText }}</p>
  </mat-expansion-panel>
</mat-accordion>

<br>
<br>

<span *ngIf='userIsAuthenticated'>
  <h2>Create Course Review</h2>

  <br>

  <p class="medInput" >Subject Code: </p>
  <input #subjCode maxlength="25"/>

  <p class="">Course Code: </p>
  <input #courseCode maxlength="15"/>

  <p class="">Rating (0.5 - 5): </p>
  <input class="longInput" #rating maxlength="3"/>

  <br>
  <br>

  <p class="">Review: </p>
  <input #reviewText maxlength="250"/>

  <br>

  <button (click)='onCreateReview(subjCode.value, courseCode.value, rating.value, reviewText.value)'>
    Create</button>
</span>
