p {
  margin-left: 3%;
  display: inline-block;
}

h3 {
  margin-top: 3rem;
}

button {
  background-color: rgb(79, 38, 131);
  color: white;
  margin-left: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 95%;
}

.glance-info {
  font-size: 85%;
  display: block;
}

.extra-info {
  font-size: 85%;
  display: block;
}

.mat-expansion-panel-header {
  height: 90px;
}

#noQueriesMsg {
  display: block;
  font-weight: 600;
  padding-left: 4rem;
  padding-top: 2rem;
}
