<h3>Public Course Lists: </h3>

<mat-accordion *ngIf='courselists'>
  <mat-expansion-panel *ngFor="let list of courselists; let i=index">
      <mat-expansion-panel-header *ngIf='i<10'>
        <p class="glance-info">Name: {{ list?.name }}</p>
        <p class="glance-info">Creator: {{ list?.creator }}</p>
        <p class="glance-info"># of Courses: {{ list?.courses.length }}</p>
        <p class="glance-info">Modified Date: {{ list?.month }}/{{ list?.day }}/{{ list?.year }}</p>
      </mat-expansion-panel-header>
    <p class="extra-info" *ngIf='i<10'>Description: {{ list?.descr }}</p>
    <p id="courseListTitle" class="extra-info" *ngIf='i<10'>Courses: </p>
    <ul *ngIf='i<10'>
      <li class="extra-info" *ngFor='let course of list?.courses'>{{ course.subjCode }} - {{ course.courseId }}</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>

<br>
<br>

<div>
  <h2>Creating a Course List</h2>

  <br>

  <p class="medInput" width="50">Course List Name: </p>
  <input #clName/>

  <p class="">Creator: </p>
  <input #clCreator/>

  <p class="">Description: </p>
  <input class="longInput" #clDescr/>

  <br>
  <p class="">Private: </p>
  <input type="checkbox" #clPrivacy/>

  <br>
  <br>

  <h4>Courses</h4>

  <p class="">Course 1: </p>
  <input #c1CC value='Course Code'/>
  <input #c1SC value='Subject Code'/>

  <br>

  <p class="">Course 2: </p>
  <input #c2CC value='Course Code'/>
  <input #c2SC value='Subject Code'/>

  <br>

  <p class="">Course 3: </p>
  <input #c3CC value='Course Code'/>
  <input #c3SC value='Subject Code'/>

  <br>

  <p class="">Course 4: </p>
  <input #c4CC value='Course Code'/>
  <input #c4SC value='Subject Code'/>

  <br>

  <p class="">Course 5: </p>
  <input #c5CC value='Course Code'/>
  <input #c5SC value='Subject Code'/>

</div>

<button (click)='addCourseList(clName.value, clCreator.value, clDescr.value,
clPrivacy.checked, c1CC.value, c1SC.value, c2CC.value, c2SC.value,
c3CC.value, c3SC.value, c4CC.value, c4SC.value, c5CC.value, c5SC.value)'>Create</button>

<br>
<br>

<h2>Delete a Course List</h2>
<p class="">Course List Name: </p>
<input #clDeleteName/>
<button id='deleteButton' (click)='onDeleteCourseList(clDeleteName.value)'>Delete</button>

<br>
<br>
