h3 {
  margin-top: 3rem;
}

ul {
  margin-top: 0;
}

li {
  margin-left: 22%;
}

.glance-info {
  font-size: 85%;
  display: block;
}

.extra-info {
  font-size: 85%;
  display: block;
}

.mat-expansion-panel-header {
  height: 75px;
}

#courseListTitle {
  margin-bottom: 0%;
}
