<h3>Public Course Lists: </h3>

<mat-accordion *ngIf='courselists'>
  <mat-expansion-panel *ngFor="let list of courselists; let i=index">
      <mat-expansion-panel-header *ngIf='i<10'>
        <p class="glance-info">Name: {{ list?.name }}</p>
        <p class="glance-info">Creator: {{ list?.creator }}</p>
        <p class="glance-info"># of Courses: {{ list?.numOfCourses }}</p>
        <p class="glance-info">Modified Date: {{ list?.month }}/{{ list?.day }}/{{ list?.year }}</p>
      </mat-expansion-panel-header>
    <p class="extra-info" *ngIf='i<10'>Description: {{ list?.descr }}</p>
    <p id="courseListTitle" class="extra-info" *ngIf='i<10'>Courses: </p>
    <ul *ngIf='i<10'>
      <li class="extra-info" *ngFor='let course of list?.courses'>
        <span *ngIf='course.subjCode!="" && course.subjCode!= "Subject Code" && course.courseId!="" && course.courseId!= "Course Code"'>
          {{ course.subjCode }} - {{ course.courseId }}
        </span>
      </li>
    </ul>
    <button (click)='onAddToTimetable(list?.name)'>
      Add to Timetable
    </button>
  </mat-expansion-panel>
</mat-accordion>

<br>
<br>

<h3 *ngIf='userIsAuthenticated'>My Course Lists: </h3>

<mat-accordion *ngIf='userIsAuthenticated && myCourseLists'>
  <mat-expansion-panel *ngFor="let list of myCourseLists">
    <mat-expansion-panel-header>
      <p class="glance-info">Name: {{ list?.name }}</p>
      <p class="glance-info">Privacy: {{ list?.privacy }}</p>
      <p class="glance-info"># of Courses: {{ list?.numOfCourses }}</p>
      <p class="glance-info">Modified Date: {{ list?.month }}/{{ list?.day }}/{{ list?.year }}</p>
    </mat-expansion-panel-header>
    <p class="extra-info">Description: {{ list?.descr }}</p>
    <p id="courseListTitle" class="extra-info">Courses: </p>
    <ul>
      <li class="extra-info" *ngFor='let course of list?.courses'>
        <span *ngIf='course.subjCode!="" && course.subjCode!= "Subject Code" && course.courseId!="" && course.courseId!= "Course Code"'>{{ course.subjCode }} - {{ course.courseId }}</span></li>
    </ul>
    <button (click)='onAddToTimetable(list?.name)'>
      Add to Timetable
    </button>
  </mat-expansion-panel>
</mat-accordion>

<br>
<br>

<span *ngIf='userIsAuthenticated'>
  <h2>Creating a Course List</h2>

  <br>

  <p class="medInput" width="50">Course List Name: </p>
  <input #clName/>

  <p class="">Description: </p>
  <input class="longInput" #clDescr/>

  <br>
  <p class="">Private: </p>
  <input type="checkbox" value='checked' #clPrivacy/>

  <br>
  <br>

  <h4>Courses</h4>

  <p class="">Course 1: </p>
  <input #c1CC value='Course Code'/>
  <input #c1SC value='Subject Code'/>

  <br>

  <p class="">Course 2: </p>
  <input #c2CC value='Course Code'/>
  <input #c2SC value='Subject Code'/>

  <br>

  <p class="">Course 3: </p>
  <input #c3CC value='Course Code'/>
  <input #c3SC value='Subject Code'/>

  <br>

  <p class="">Course 4: </p>
  <input #c4CC value='Course Code'/>
  <input #c4SC value='Subject Code'/>

  <br>

  <p class="">Course 5: </p>
  <input #c5CC value='Course Code'/>
  <input #c5SC value='Subject Code'/>

  <button (click)='addCourseList(clName.value, clDescr.value,
  clPrivacy.checked, c1CC.value, c1SC.value, c2CC.value, c2SC.value,
  c3CC.value, c3SC.value, c4CC.value, c4SC.value, c5CC.value, c5SC.value)'>Create</button>
</span>

<br>
<br>

<form (submit)='onEditCourseList(clUName.value, clUDescr.value,
clUPrivacy.checked, c1UCC.value, c1USC.value, c2UCC.value, c2USC.value,
c3UCC.value, c3USC.value, c4UCC.value, c4USC.value, c5UCC.value, c5USC.value)' *ngIf='userIsAuthenticated'>
  <h2>Editing a Course List</h2>

  <br>

  <p class="medInput" width="50">Course List Name: </p>
  <input #clUName required/>

  <p class="">Description: </p>
  <input class="longInput" #clUDescr/>

  <br>
  <p class="">Private: </p>
  <input type="checkbox" value='checked' #clUPrivacy/>

  <br>
  <br>

  <h4>Courses</h4>

  <p class="">Course 1: </p>
  <input #c1UCC value='Course Code' required/>
  <input #c1USC value='Subject Code' required/>

  <br>

  <p class="">Course 2: </p>
  <input #c2UCC value='Course Code' required/>
  <input #c2USC value='Subject Code' required/>

  <br>

  <p class="">Course 3: </p>
  <input #c3UCC value='Course Code' required/>
  <input #c3USC value='Subject Code' required/>

  <br>

  <p class="">Course 4: </p>
  <input #c4UCC value='Course Code' required/>
  <input #c4USC value='Subject Code' required/>

  <br>

  <p class="">Course 5: </p>
  <input #c5UCC value='Course Code' required/>
  <input #c5USC value='Subject Code' required/>

  <button type='submit'>Edit</button>
</form>

<br>
<br>

<span *ngIf='userIsAuthenticated'>
  <h2>Delete a Course List</h2>
  <p class="">Course List Name: </p>
  <input #clDeleteName/>
  <button id='deleteButton' (click)='onDeleteCourseList(clDeleteName.value)'>Delete</button>
</span>

<br>
<br>

<div>
  <h1>Timetable</h1>

  <br>
  <ejs-schedule #scheduleObj width='100%'  startHour='08:00' endHour='22:00' [selectedDate]='selectedDate'>
    <e-views>
      <e-view option='WorkWeek' dateFormat='dd-MMM-yyyy'></e-view>
    </e-views>
  </ejs-schedule>
</div>

<br>
<br>
