h3 {
  margin-top: 3rem;
}

ul {
  margin-top: 0;
}

li {
  margin-left: 22%;
}

p {
  display: inline;
}

button {
  margin: 0.5rem 2.5rem;
  padding: 0 0.25rem;
}

.glance-info {
  font-size: 85%;
  display: block;
}

.extra-info {
  font-size: 85%;
  display: block;
}

.mat-expansion-panel-header {
  height: 75px;
}

#courseListTitle {
  margin-bottom: 0%;
}

#deleteButton {
  margin-left: 3rem;
}
